@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*CSS GLOBAL*/
.btn{
    width: 220px;
    padding: 10px 20px;
    background: #ffff;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.5s ease;
    border: 1px solid #a7bb90;
    background: none;
    color: #fff;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
/*NAVBAR CSS*/
.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    z-index: 999;
}

.navbar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 700;
}
.navbar__logo span{
    color: #a7bb90;
}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar__links:hover{
    color: #782605;
    transition: all 0.3s ease;
}
@media screen and (max-width: 960px){
    .navbar__container{
        padding: 0;
    }
    .navbar__logo{
        padding-left: 25px;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        height: 50vh;
        position: absolute;
        background-color: #131313;
        opacity: 1;
        z-index: -1;
        top: -10000px;
        transition: all 0.5s ease;
    }
    .navbar__menu.active{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        height: 50vh;
        position: absolute;
        background-color: #131313;
        opacity: 1;
        z-index: 99;
        top: 100%;
        transition: all 0.5s ease;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    #mobile-menu{
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%, 25%);
        cursor: pointer;
    }
    .navbar__links{
        font-size: 1.5rem;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*MAIN HEADER CSS*/
.main__header{
    height: 80vh;
    width: 100%;
    background-image: url('../images/header-imagen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header__container{
    padding: 0 75px;
    width: 100%;
    height: 100%;
    background: rgba(80,106,133,.4);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header__btn:hover{
    background: #a7bb90;
    color: #fff;
}
.header__content h1{
    color: #fff;
    font-size: 3.5rem;
}
.header__content span{
    color: #a6d471;
}

.header__content p{
    color: #f1f1f1;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.header__img-container img{
    height: 300px;
}

@media screen and (max-width: 960px){
    .header__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 25px;
        justify-content: center;
    }
    .header__content h1{
        font-size: 3rem;
        text-align: center;
    }
    .header__content p{
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 30px;
    }
}

/*ABOUT CONTENT CSS*/
.container{
    margin: 0px 75px;
}

.about__content{
    margin: 30px 250px;
}
.about__content h2{
    font-size: 2.8rem;
    color: #506a85;
    text-align: center;
    padding: 20px 0px;
}
.about__content p{
    font-size: 1.1rem;
    text-align: center;
}
.about__btn{
    text-align: center;
    margin: 30px 0px;
}
.about__btn a{
    background: #506a85;
    color: #fff;
}
.button{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: #3a4c5f;
    height: 100%;
    z-index: 1;
    transition: all 0.3s ease;
}
/*
.button:hover::after{
    width: 100%;
}*/
@media screen and (max-width: 960px){
    .about__content{
        margin: 0px;
    }
    .about__content p{
        font-size: 1.3rem;
    }
    .button{
        padding: 15px 30px;
    }
}

/*CARD CSS*/
.habilidades{
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    height: 100%;
    width: 300px;
    margin: 30px 15px;
}

.card__content{
    display: flex;
    justify-content: space-between;
}
.card__icon{
    font-size: 2.2rem;
    margin-right: 45px;
    color: #00bc9c;
}
.card__info h3{
    color:  #a7bb90;
    margin-bottom: 1rem;
}
.card__info p{
    font-size: 1rem;
}
@media screen and (max-width: 960px){
    .container{
        margin: 0px 25px;
    }
    .habilidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*PORTAFOLIO CSS*/
.portafolio{
    background: #f2f5f7;
    padding: 0px 75px;
}
.portafolio__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portafolio h2{

    font-size: 2.8rem;
    color: #506a85;
    text-align: center;
    padding: 20px 0px;
}
.portafolio p{
    font-size: 1.1rem;
    text-align: center;
}
.portafolio__card{
    position: relative;
    width:350px;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.1);
    border-radius: 5px;
    margin: 20px;
}
.card__img{
    position: relative;
    height: 300px;
    width: 100%;
}
.card__img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card__img:hover::after{
    background: rgba(12, 219, 133, 0.4);
    cursor: pointer;
}
.card__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portafolio__info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;

}
.portafolio__info h3{
    color: #506a85;
    margin: 10px 0px;
}
.portafolio__info p{
    font-size: 1rem;
}
@media screen and (max-width: 960px){
    .portafolio{
        padding: 0px 25px;
    }
}

/*Redes sociales estyle*/

.redes{
    padding: 3rem 5rem;
    background: #fff;
}
.redes__title{
    font-size: 2.8rem;
    color: #506a85;
    text-align: center;
    padding: 20px 0px;
}
.redes__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes__card{
    width: 350px;
    padding: 25px 20px;
    background: #f4f4f9;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
}
.redes__icon img{
    height: 60px;
}
.redes__info{
    margin: 0 10px;
}
.redes__info h4{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
.redes__info p,a{
    font-size: 14px;
    text-decoration: none;
}
@media screen and (max-width: 760px){
    .redes{
        padding: 50px 20px;
    }
    .redes__content{
        flex-direction: column;
    }
    .redes__title{
        font-size: 30px;
    }
}

/*FOOTER CSS*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 5rem;
    flex-direction: column;
    background: #f4f4f9;
}
.footer__top h3{
    color: #212121;
}
.footer__top span{
    color: #a7bb90;
}
.footer__center{
    margin-bottom: 1rem;
}
.footer__bottom p{
    font-size: 14px;
    color: #506a85;
}